.change-block {
    max-width: 70%;
}

.sources {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    gap: 10px;
    overflow: auto;
    max-height: 80vh;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.sources::-webkit-scrollbar {
    width: 0;
  }

.source__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font: inherit;
    font-weight: 600;
    line-height: 1;
    padding: 5px 10px;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item:active {
    transform: scale(0.9);
}

.source__item-name {
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: normal;
}
