@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  font-family: "VT323";
  overflow: hidden;
  background-color: #cacaca;
}

.block {
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  min-height: 100vh;
  padding: 0 15px;
}
.block .game__wrapper {
  position: relative;
  width: 369px;
  height: 520px;
  background-color: #b8b8b8;
  border: 5px solid;
  border-color: #c7c7c7 #9e9e9e #9e9e9e #c7c7c7;
}
.block .game__wrapper .game__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 5px solid;
  border-color: #9e9e9e #c7c7c7 #c7c7c7 #9e9e9e;
}
.block .game__wrapper .game__header .game-status {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  border: 5px solid;
  border-color: #c7c7c7 #9e9e9e #9e9e9e #c7c7c7;
}
.block .game__wrapper .game__header .smile:active {
  transform: scale(0.9);
  transition: 0.1s;
}
.block .game__wrapper .game__body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  height: 66%;
  margin: 5px;
  padding: 1px;
  border: 5px solid;
  border-color: #9e9e9e #c7c7c7 #c7c7c7 #9e9e9e;
}
.block .game__wrapper .game__body .game__row {
  display: flex;
  height: 34px;
}
.block .game__wrapper .game__body .game__row .game__block {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 5px solid;
  border-color: #c7c7c7 #9e9e9e #9e9e9e #c7c7c7;
}
.block .game__wrapper .game__body .game__row .num {
  cursor: auto;
  font-weight: 600;
}
.block .game__wrapper .game__body .game__row .num_0 {
  color: #b8b8b8;
}
.block .game__wrapper .game__body .game__row .num_1 {
  color: rgb(0, 0, 255);
}
.block .game__wrapper .game__body .game__row .num_2 {
  color: green;
}
.block .game__wrapper .game__body .game__row .num_3 {
  color: red;
}
.block .game__wrapper .game__body .game__row .num_4 {
  color: rgb(34, 32, 141);
}
.block .game__wrapper .game__body .game__row .num_5 {
  color: #f700ff;
}
.block .game__wrapper .game__body .game__row .num_6 {
  color: #00ccff;
}
.block .game__wrapper .game__body .game__row .bomb {
  background-color: red;
}
.block .game__wrapper .game__body .game__row .game__block_opened {
  cursor: auto;
  width: 33px;
  height: 34px;
  color: black;
  border: 1px solid rgb(168, 168, 168);
}
.block .game__wrapper .game__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  border: 5px solid;
  border-color: #9e9e9e #c7c7c7 #c7c7c7 #9e9e9e;
}
.block .game__wrapper .game__footer .game__block {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  border: 5px solid;
  border-color: #c7c7c7 #9e9e9e #9e9e9e #c7c7c7;
  transition: 0.1s;
}
.block .game__wrapper .game__footer .game__block:active {
  transform: scale(0.9);
  transition: 0.1s;
}
.block .game__wrapper .game_end-message {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85%;
}
.block .game__wrapper .game_end-message .message-text {
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 500;
  color: white;
  margin-bottom: 100px;
}
.block .game__wrapper .shown {
  display: flex;
}
.block .settings__icon {
  cursor: pointer;
  font-size: 40px;
}
.block .settings__popup {
  position: absolute;
  display: none;
  flex-direction: column;
  row-gap: 30px;
  background-color: #b8b8b8;
  border: 5px solid;
  border-color: #c7c7c7 #9e9e9e #9e9e9e #c7c7c7;
  width: 400px;
  height: 600px;
  padding: 10px;
}
.block .settings__popup .settings__close {
  text-align: right;
  cursor: pointer;
  text-transform: uppercase;
}
.block .settings__popup .settings__music {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.block .settings__popup .settings__music .settings__text {
  font-size: 25px;
}
.block .settings__popup .settings__music .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.block .settings__popup .settings__music .switch .switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}
.block .settings__popup .settings__music .switch .switch__input:checked + .switch__slider {
  background-color: #000000;
}
.block .settings__popup .settings__music .switch .switch__input:checked + .switch__slider:before {
  transform: translateX(26px);
}
.block .settings__popup .settings__music .switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-color: transparent;
  transition: 0.4s;
}
.block .settings__popup .settings__music .switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.block .settings__open {
  display: flex;
}

.numbers {
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  color: red;
  background-color: black;
  border: 2px solid;
  border-color: #9e9e9e #c7c7c7 #c7c7c7 #9e9e9e;
}

@media (max-width: 425px) {
  .block .game__wrapper {
    width: 320px;
    height: 490px;
  }
  .block .game__wrapper .game__header .game-status {
    width: 20px;
    height: 20px;
    padding: 5px;
  }
  .block .game__wrapper .game__header .numbers {
    font-size: 45px;
    width: 60px;
  }
  .block .game__wrapper .game__body {
    height: 60%;
  }
  .block .game__wrapper .game__body .game__row {
    height: 29px;
  }
  .block .game__wrapper .game__body .game__row .game__block {
    font-size: 18px;
    width: 20px;
    height: 20px;
  }
  .block .game__wrapper .game__body .game__row .game__block_opened {
    width: 28px;
    height: 28px;
  }
  .block .game__wrapper .game__footer .game__block {
    font-size: 15px;
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 375px) {
  .block .game__wrapper {
    width: 290px;
    height: 450px;
  }
  .block .game__wrapper .game__header .game-status {
    width: 20px;
    height: 20px;
    padding: 5px;
  }
  .block .game__wrapper .game__header .numbers {
    font-size: 45px;
    width: 60px;
  }
  .block .game__wrapper .game__body {
    height: 58%;
  }
  .block .game__wrapper .game__body .game__row {
    height: 26px;
  }
  .block .game__wrapper .game__body .game__row .game__block {
    font-size: 18px;
    width: 17px;
    height: 17px;
  }
  .block .game__wrapper .game__body .game__row .game__block_opened {
    width: 25px;
    height: 25px;
  }
  .block .game__wrapper .game__footer {
    padding: 5px 0;
  }
  .block .game__wrapper .game__footer .game__block {
    font-size: 15px;
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 345px) {
  .block .game__wrapper {
    width: 270px;
    height: 430px;
  }
  .block .game__wrapper .game__header .game-status {
    width: 20px;
    height: 20px;
    padding: 5px;
  }
  .block .game__wrapper .game__header .numbers {
    font-size: 45px;
    width: 60px;
  }
  .block .game__wrapper .game__body {
    height: 59%;
  }
  .block .game__wrapper .game__body .game__row {
    height: 25px;
  }
  .block .game__wrapper .game__body .game__row .game__block {
    font-size: 17px;
    width: 15px;
    height: 15px;
  }
  .block .game__wrapper .game__body .game__row .game__block_opened {
    width: 23px;
    height: 23px;
  }
  .block .game__wrapper .game__footer {
    padding: 5px 0;
  }
  .block .game__wrapper .game__footer .game__block {
    font-size: 15px;
    width: 20px;
    height: 20px;
  }
}