@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323';
  overflow: hidden;
  background-color: #cacaca;
}

.block {
  position: relative;
  user-select: none; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  min-height: 100vh;
  padding: 0 15px;
  .easy {
    height: 530px;
  }
  .medium {
    height: 560px;
  }
  .hard {
    height: 750px;
  }
  .game__wrapper {
    position: relative;
    background-color: #b8b8b8;
    border: 5px solid;
    border-color: #c7c7c7 #9e9e9e #9e9e9e #c7c7c7;
    .game__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px;
      padding: 5px;
      border: 5px solid;
      border-color: #9e9e9e #c7c7c7 #c7c7c7 #9e9e9e;
      .game-status {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        padding: 5px;
        border: 5px solid;
        border-color: #c7c7c7 #9e9e9e #9e9e9e #c7c7c7;
      }
      .smile:active {
        transform: scale(0.9);
        transition: .1s;
      }
    }
    .game__body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0;
      height: 66%;
      margin: 5px;
      padding: 1px;
      border: 5px solid;
      border-color: #9e9e9e #c7c7c7 #c7c7c7 #9e9e9e;
      .game__row {
        display: flex;
        .game__block {
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          // color: #b8b8b8;
          border: 5px solid;
          border-color: #c7c7c7 #9e9e9e #9e9e9e #c7c7c7;
        }
        .num {
          cursor: auto;
          font-weight: 600;
        }
        .num_0 {
          color: #b8b8b8;
        }
        .num_1 {
          color: rgb(0, 0, 255);
        }
        .num_2 {
          color: green;
        }
        .num_3 {
          color: red;
        }
        .num_4 {
          color: rgb(34, 32, 141);
        }
        .num_5 {
          color: #f700ff;
        }
        .num_6 {
          color: #00ccff;
        }
        .bomb {
          background-color: red;
        }
        .easy {
          width: 25px;
          height: 25px;
        }
        .medium {
          width: 15px;
          height: 15px;
        }
        .hard {
          width: 10px;
          height: 10px;
        }
        .game__block_opened {
          cursor: auto;   
          color: black;
          border: 1px solid rgb(168, 168, 168);
        }
        .opened-easy {
          width: 33px;
          height: 33px;
        }
        .opened-medium {
          width: 23px;
          height: 23px;
        }
        .opened-hard {
          width: 18px;
          height: 18px;
        }
      }
    }
    .game__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px;
      padding: 5px;
      border: 5px solid;
      border-color: #9e9e9e #c7c7c7 #c7c7c7 #9e9e9e;
      .game__block {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        padding: 5px;
        border: 5px solid;
        border-color: #c7c7c7 #9e9e9e #9e9e9e #c7c7c7;
        transition: .1s;
        &:active {
          transform: scale(0.9);
          transition: .1s;
        }
      }
    }
    .game_end-message {
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 85%;
      .message-text {
        font-size: 50px;
        letter-spacing: 4px;
        font-weight: 500;
        color: white;
        margin-bottom: 100px;
      }
    }
    .shown {
      display: flex;
    }
  }
}

.settings__icon {
  z-index: 2;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  font-size: 40px;
}
.settings__popup {
  z-index: 2;
  position: absolute;
  bottom: 50px;
  display: none;
  flex-direction: column;
  row-gap: 10px;
  background-color: #b8b8b8;
  border: 5px solid;
  border-color: #c7c7c7 #9e9e9e #9e9e9e #c7c7c7;
  width: 200px;
  height: 300px;
  padding: 10px;
  .settings__close {
    text-align: right;
    cursor: pointer;
    text-transform: uppercase;
  }
  .settings__music {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    .settings__text {
      font-size: 20px;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 25px;
      & .switch__input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .switch__slider {
          background-color: #000000;
        }
        &:checked + .switch__slider:before {
          transform: translateX(26px);
        }
      }
    }
    .switch__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-color: transparent;
      transition: .4s;
      &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
      }
    }
  }
  .settings__theme {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    .theme {
      cursor: pointer;
      transition: .2s;
      &:hover {
        transform: scale(0.9);
        transition: .2s;
      }
      &:active {
        transform: scale(1.1);
        transition: .2s;
      }
    }
    .dark {
      color: black;
    }
    .light {
      color: white;
      transition: .2s;
    }
  }
  .settings__lvl {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    .lvl {
      display: inline-block;
      max-height: 20px;
      cursor: pointer;
      &:hover {
        transform: scale(0.9);
        transition: .2s;
      }
    }
  }
  .settings__bombs {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-size: 20px;
    .settings__input {
      max-width: 30px;
    }
    .settings__button {
      background-color: black;
      color: white;
    }
  }
}

.leader__icon {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
}
.leader__popup {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  right: 10px;
  bottom: 50px;
  row-gap: 10px;
  background-color: #b8b8b8;
  border: 5px solid;
  border-color: #c7c7c7 #9e9e9e #9e9e9e #c7c7c7;
  width: 200px;
  height: 300px;
  padding: 10px;
  .leader__title {
    display: flex;
    font-size: 20px;
  }
}

.open {
  display: flex;
}

.choose {
  color: white;
}

.numbers {
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  color: red;
  background-color: black;
  border: 2px solid;
  border-color: #9e9e9e #c7c7c7 #c7c7c7 #9e9e9e;
}

@media (max-width: 535px) {
  .block {
    .hard {
      height: 670px;
    }
    .game__wrapper {
      .game__body {
        .game__row {
          .hard {
            width: 8px;
            height: 8px;
          }
          .opened-hard {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .block {
    .medium {
      height: 730px;
    }
    .game__wrapper {
      .game__header {
        .game-status {
          width: 20px;
          height: 20px;
          padding: 5px;
        }
        .numbers {
          font-size: 45px;
          width: 60px;
        }
      }
      .game__body {
        height: 60%;
        .game__row {
          height: 29px;
          .game__block {
            font-size: 18px;
            width: 20px;
            height: 20px;
          }
          .game__block_opened {
            width: 28px;
            height: 28px;
          }
        }
      }
      .game__footer {
        .game__block {
          font-size: 15px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .block {
    .game__wrapper {
      width: 290px;
      height: 450px;
      .game__header {
        .game-status {
          width: 20px;
          height: 20px;
          padding: 5px;
        }
        .numbers {
          font-size: 45px;
          width: 60px;
        }
      }
      .game__body {
        height: 58%;
        .game__row {
          height: 26px;
          .game__block {
            font-size: 18px;
            width: 17px;
            height: 17px;
          }
          .game__block_opened {
            width: 25px;
            height: 25px;
          }
        }
      }
      .game__footer {
        padding: 5px 0;
        .game__block {
          font-size: 15px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media (max-width: 345px) {
  .block {
    .game__wrapper {
      width: 270px;
      height: 430px;
      .game__header {
        .game-status {
          width: 20px;
          height: 20px;
          padding: 5px;
        }
        .numbers {
          font-size: 45px;
          width: 60px;
        }
      }
      .game__body {
        height: 59%;
        .game__row {
          height: 25px;
          .game__block {
            font-size: 17px;
            width: 15px;
            height: 15px;
          }
          .game__block_opened {
            width: 23px;
            height: 23px;
          }
        }
      }
      .game__footer {
        padding: 5px 0;
        .game__block {
          font-size: 15px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}