plate {
  position: relative;
  display: inline-block;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border-bottom: solid 5px #DDD;
  box-shadow: 0px 8px 0px rgba(0,0,0,.1);
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    height: 65px;
    width: 65px;
    border-radius: 60px;
    border-top: solid 6px #CCC;
    opacity: .4;
    background: rgba(255,255,255,1);
  }
  .game-header .game__logo & {
    opacity: .5;
  }
  &:hover {
    box-shadow: 0 0 0 6px rgba(255,255,255,.4);
  }
}

apple {
  position: absolute;
  background: #e41919;
  border-color: #ab1212;
  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 15px 4px;
  height: 60px;
  width: 60px;
  margin: 20px 10px
}

plate apple {
  top: calc(50% - 55px);
  left: calc(50% - 40px);
}

.animated {
  transform-origin: bottom;
  animation: animatedStart .5s ease-out, animated 1s infinite;
  animation-delay: 0s, .5s;
}

@keyframes animatedStart {
  0% {
    transform:  skew(0deg,0deg) scaleY(1) ;
    animation-timing-function: ease-in;
   }
  40% {
    transform:  skew(0deg,0deg) scaleY(.9);
    animation-timing-function: ease-out;
  }
  100% { 
    transform:   skew(4deg,0deg) scaleX(1); 
  }
}

@keyframes animated {
  0% { 
    transform:   skew(4deg,0deg) scaleX(1); 
  }
  10% { 
    transform:  skew(1deg,0deg) scaleY(.9) ; 
  }
  50% { 
    transform:  skew(-4deg,0deg) scaleX(1); 
  }
  60% { 
    transform:  skew(-1deg,0deg) scaleY(.9) ; 
  }
  100% {
    transform: skew(4deg,0deg) scaleX(1); 
  }
}

// Выбранный элемент
.vanish {
  opacity: 0;
  transition: .5s;
}
