@import "game-header";
@import "game-body";
@import "game-editor";
@import "game-footer";

.game {
  display: flex;
  flex-direction: column;

  background-color: #2e2a23;
  height: 100vh;
  .game__title-main {
    margin: 0;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    padding: 20px 30px;
  }
}

