.game-help {
  display: flex;
  gap: 10px;
  justify-content: center;

  font-size: 16px;
  .game__button {
    display: inline-block;

    text-decoration: none;
    color: rgba(255,255,255,.3);
    background: rgba(0,0,0,.2);
    padding: 8px 15px 10px 15px;
    border-radius: 20px;
  }
}