.nav-task {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  font-size: 15px;

  margin: 30px auto 0 auto;
  .nav-main-info {
    font-size: 18px;
    color: #ffffff99;
    .nav__title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .nav__subtitle {
      font-weight: 300;
      opacity: .7;
    }
  }
  .nav__id {
    color: #888;
    font-size: 24px;
    font-weight: 200;
    opacity: .8;
    padding: 5px 8px;
    background: rgba(255,255,255,.05);
    border-bottom: solid 2px rgba(255,255,255,.1);
    margin-bottom: 3px;

    max-width: 31px;
  }
  .nav-task-text {
    color: #888;
    line-height: 150%;
  }
  .nav-task-examples {
    display: flex;
    flex-direction: column;
    .nav-task_title {
      color: #ffffff99;
      margin: 30px 0 10px 0;
    }
    .nav-task-example {
      color: #888;
      line-height: 170%;
      padding: 10px 0 12px 0;
      border-bottom: 1px solid #ffffff1a;
      &:last-child {
        border: 0;
      }
    }
  }
}

code, strong {
  color: #AAA;
  background: #ffffff1a;
  padding: 3px 6px 3px 6px;
  margin: 0px 2px;
  font-size: 13px;
  font-family: monospace;
  font-weight: normal;
}